<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <globalization culture="en-GB" uiCulture="en-GB"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>


  <connectionStrings>
   <!-- <add name="Db" connectionString="Server=BAIFERNDONLAYA; Database=Project ; Integrated Security=True" -->
         <add name="Db" connectionString="Server=DESKTOP-F5MB915\SQLEXPRESS; Database=Project ; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProHComsysConnectionString" connectionString="Data Source=BAIFERNDONLAYA;Initial Catalog=ProHComsys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


